#navbar-element {
    font-family: var(--glacial-indifference);
    font-size: 18px;
}

#navbar-element:hover {
    border-width: 10px;
    color: white;
    transition: 0.3s;
}

#homeNavbar {
    background: transparent !important;
    transition: 0.5s ease;
    background: var(--midnight-blue) !important;
}

.navbar .navbar-nav {
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

/* #homeNavbar.scrolled {
    background: #115 !important;
} */


